html {
    background-color: rgb(27, 12, 40);
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    position: relative;
    border: 7px solid rgb(64, 5, 113);
    box-shadow: 4px 4px 10px rgba(30, 229, 247, 0.5),
                inset 4px 4px 10px rgba(0, 91, 238, 0.5),
                inset -4px -4px 10px rgba(0, 91, 238, 0.5),
                -4px -4px 10px rgba(30, 229, 247, 0.5);
    border-radius: 100%;
    margin: auto;
}

.outer-clock-face {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.outer-clock-face::before{
    transform: rotate(90deg);
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #1df5e3;
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background: #6c55dc;
    width: 0.25rem;
}

.outer-clock-face .marking.marking-one {
    transform: rotate(30deg);
}

.outer-clock-face .marking.marking-two {
    transform: rotate(60deg);
}

.outer-clock-face .marking.marking-three {
    transform: rotate(120deg);
}

.outer-clock-face .marking.marking-four {
    transform: rotate(150deg);
} 

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgb(27, 12, 40);
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background:rgb(64, 5, 113);
    z-index: 2;
}

.hand {
    --rotation: 0;
    width: 3px;
    height: 45%;
    background:rgb(32, 225, 206);
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-59%) rotate(calc(var(--rotation) * 1deg));
}

.hand.hour-hand {
    background: rgb(159, 182, 219);
    height: 32%;
    width: 5px;
    z-index: 1;
}

.hand.second-hand {
    background-color: #ffffff;
    width: 1px;
    z-index: 1;
    height: 49%;
}